# Normalization

- Normalization in DBMS (Database Management System) is a process used to design and organize a relational database to reduce redundancy and improve data integrity.
- It involves breaking down a large table into smaller, more manageable tables and establishing relationships between them.
- The goal of normalization is to eliminate data anomalies and inconsistencies that can arise due to redundant or duplicate data.

# Normal Form

- 1NF	A relation is in 1NF if it contains an atomic value.
- 2NF	A relation will be in 2NF if it is in 1NF and all non-key attributes are fully functional dependent on the primary key.
- 3NF	A relation will be in 3NF if it is in 2NF and no transition dependency exists.
- BCNF	A stronger definition of 3NF is known as Boyce Codd's normal form.
- 4NF	A relation will be in 4NF if it is in Boyce Codd's normal form and has no multi-valued dependency.
- 5NF	A relation is in 5NF. If it is in 4NF and does not contain any join dependency, joining should be lossless.

In [11]:
# Customer name || Item name || Shiping Addres || Newslatter || Supplier || seler Info || Price

# 1 NF

- Each Cell be single values
- columns are same data type
- Row uniquely identified (Add Unicue ID,Primary Key)

In [5]:
# Ex = create ID ,or user id for each row are uniquely identify
#  if any row are conatining multiple data then seprate them (User jay have 2 mobile number)

In [12]:
# Custermer Id || Customer name || Item name || Shiping Addres || Newslatter || Supplier || seler Info || Price


# 2 NF |

- All Attributes depenent on the key
- If any Group of item independent of other group then seprate using primary and foreign key (if any group data are contining same data for multiple time for referance)

In [6]:
#  one group of table for user data 
#  second grup data table for containing order details

In [13]:
#  Custermer ID || Customer Name  ||  Address || Newsletter 
#  Item || Supplier || Suplier Info || Price

# 3 NF

- All Fields Columsn can be determined only by the key in the table and no other columns
-  if table are conatinging Multiple values in columns then seprate them

In [ ]:
#  X -> Y -> Z  X = Primary key Y = None Primary and None Unique  Z = None Primary and None Unique
# that means 
# X->Z 
# is Not valid

In [ ]:
#  Seprate X and Z columsn

In [ ]:
#  Custermer ID || Customer Name  ||  Address || Newsletter 
#  Item || Supplier || Price 
# Supplier || Suplier Info

# 4 NF

- No Multi Valued dependencies
-  Columns not identifyu directly for other columns ()

In [14]:
# Customer table 
# Custermer ID || Customer Name  ||  Address 

# Subsvribe table
# Custermer ID || Newsletter 

# Item table
# Item || Supplier || Price 

# Seller table
# Supplier || Suplier Info

# Stored procedure

- Stored procedure is a reusable collection of SQL statements and procedural logic
- We save a queary and create one varibale, also we use this varibale to execute the saved query
- this is like function (we create one set of querys and use again an again using  variable name )

DELIMITER && # atle ke jya sudhi end thay tya sudhi execute na karvu (multiple querys add karvi rey tab )
CREATE PROCEDURE `name` (IN/OUT/INOUT parameter_name parameter_type)
BEGIN
    --- QUERIES ---
END
DELIMITER ; # ahiya avse pachi execute karse querie ne

CREATE PROCEDURE `new_procedure` ()
BEGIN
SELECT * FROM tablename ;
END

call new_procedure ; # for run this

CREATE DEFINER=`root`@`localhost` PROCEDURE `findme`(in id int)
BEGIN
select *from test where test.id = id ;
END

call jay.findme(1); # for run this with pass id

CREATE DEFINER=`root`@`localhost` PROCEDURE `new_procedure`(out data int)
BEGIN
select count(*) into data from test where test.id = 1 ;
END

call new_procedure(@data); # call procedure
select @data as total; #print procedure return data

In [5]:
#  in means input 
# out for returning data
# inout for both pass and return