In [2]:
# Input: l1 = [2,4,3], l2 = [5,6,4]
# Output: [7,0,8]
# Explanation: 342 + 465 = 807.

In [10]:
l1 = [2,4,3]
l2 = [5,6,4]

In [11]:
L1 = l1[::-1]
L2 = l2[::-1]

In [14]:
def getint(l):
    ml =""
    for i in l:
        ml+=str(i)
    return int(ml)

In [16]:
sum = getint(L1)+getint(L2)
sum

807

In [9]:
# Input: s = "abcabcbb"
# Output: 3
# Explanation: The answer is "abc", with the length of 3.

In [47]:
myset = set()
s = "pwwkew"
for i in s:
    myset.add(i)
    
len(myset)

4

In [61]:
continues=[]
s = "pwwkew"
count,temp=0,0
for i in s:
    while(i in continues):
        continues.pop(0)
        temp-=1
    else:
        continues.append(i)
        temp+=1
        count=max(count,temp)

In [62]:
count

3

In [63]:
# Input: nums1 = [1,3], nums2 = [2]
# Output: 2.00000
# Explanation: merged array = [1,2,3] and median is 2.

In [4]:
import statistics
nums1 = [1,3]
nums2 = [2]

[1, 3, 2]

In [6]:
statistics.median(nums1+nums2)

2

In [7]:
# Input: s = "babad"
# Output: "bab"
# Explanation: "aba" is also a valid answer.

In [20]:
s = "babad"

In [22]:
for i in range(0,len(s)-1):
    if s[i] == s[i+1] or s[i] == s[::-1]:
        print(s[i])

In [ ]:
# Input: s = "aa", p = "a*"
# Output: true
# Explanation: '*' means zero or more of the preceding element, 'a'. Therefore, by repeating 'a' once, it becomes "aa".

In [40]:
# Input: height = [1,8,6,2,5,4,8,3,7]
# Output: 49
# Explanation: The above vertical lines are represented by array [1,8,6,2,5,4,8,3,7]. 
# In this case, the max area of water (blue section) the container can contain is 49.

In [64]:
h = [1,8,6,2,5,4,8,3,7]
a = (max(h))
h.pop(h.index(8))
print(a)
b= h.index(max(hh))
b

8

5

In [66]:

h = [1,8,6,2,5,4,8,3,7]
a = (max(h))
h.pop(h.index(8))
a = (max(h))
b= h.index(max(hh))
a*b

40

In [35]:

h = [1,8,6,2,5,4,8,3,7]
n= len(h)
print(n)
l = 0
r =n-1
maxi = 0

9

In [32]:
while l < r:
    ar = min(h[l],h[r]) * (r-l)
    if ar > maxi:
        maxi = ar
    if h[l] > h[r]:
        r -= 1
    else:
        l += 1

In [33]:
maxi

49

In [1]:
# Input: target = 7, nums = [2,3,1,2,4,3]
# Output: 2
# Explanation: The subarray [4,3] has the minimal length under the problem constraint.

In [34]:
nums = [1,2,3,4,5]
j = nums[0]
maxn =11
data = []
for i in range(1,len(nums)):
    if maxn == j:
        data.append((j))
    elif maxn == j+nums[i]:
        data.extend([j,nums[i]])
    elif maxn == i:
        data.append((i))
    else :
        j = nums[i]

In [35]:
data

[]

In [66]:
nums = [1,2,3,4,5]
target =11

n = len(nums)
minLength = n + 1  # Initialize with a value greater than the maximum possible length

left = 0
currentSum = 0

for right in range(n):
    currentSum += nums[right]
    
    while currentSum >= target:
        minLength = min(minLength, right - left + 1)
        currentSum -= nums[left]
        left += 1

minLength

3

In [67]:
# Input: x = 123
# Output: 321

In [125]:
x = 1534

In [126]:
data = str(x)[1:]

In [130]:
data[::-1]

'4351'

In [131]:
if "-" in str(x):
    data = abs(x)
    n = f"-{data[::-1]}"
else:
    data = str(x)
    n = data[::-1]
n

'4351'

In [133]:
# Input: nums = [3,2,2,3], val = 3
# Output: 2, nums = [2,2,_,_]
# Explanation: Your function should return k = 2, with the first two elements of nums being 2.
# It does not matter what you leave beyond the returned k (hence they are underscores).

In [135]:
nums = [3,2,2,3]
val = 3

In [144]:
data = []
for i in nums:
    if i == val:
        data.append(i)
for i in range(len(data))  :
    nums.remove(val)
len(nums)

2

In [143]:
len(nums)

2

In [145]:
# Input: nums = [2,2,1,1,1,2,2]
# Output: 2

In [160]:
nums = [3,3,4]

In [168]:
t = []
data = set(nums)
for i in data:
    t.append((nums.count(i),i))
    
max(t)[1]

3

In [169]:
# Input: nums = [1,2,3,4,5,6,7], k = 3
# Output: [5,6,7,1,2,3,4]
# Explanation:
# rotate 1 steps to the right: [7,1,2,3,4,5,6]
# rotate 2 steps to the right: [6,7,1,2,3,4,5]
# rotate 3 steps to the right: [5,6,7,1,2,3,4]

In [226]:
nums = [-1,-100,3,99]

In [227]:
k = 2

In [228]:
for i in  nums[:k]:
    data = nums.remove(i)
    nums.append(i)   
nums

[3, 99, -1, -100]

In [263]:
nums = [1,2,3,4,5,6,7]
k = 3

In [264]:
n = len(nums)-1
n

6

In [265]:
n = len(nums)-1
for i in range(k):
    data = nums.pop(n)
    print(data)
    nums.insert(0,data)
    
    
nums

7
6
5

[5, 6, 7, 1, 2, 3, 4]

In [ ]:
# Input: nums = [2,3,1,1,4]
# Output: true
# Explanation: Jump 1 step from index 0 to 1, then 3 steps to the last index.

In [306]:
nums = [3,2,1,0,4]

In [307]:
elem = 0 
for index,val in enumerate(nums):
    if elem < index:
         print(False) 
    elem = max(elem,val+index)
    print(True)

True
True
True
True
False
True