## Pandas

#  Basic of Pandas

In [126]:
import pandas as pd

In [15]:
data = [1,2,3] # list

In [16]:
df=  pd.DataFrame(data) # convert ito data Frame

In [20]:
ds = pd.Series(data,index = ["A","B","C"] ) # convert into Series

In [22]:
# index = ["A","B","C"]  Are use for custom indexing of row

### Series

In [59]:
score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}

In [66]:
ds = pd.Series(score)
ds

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [68]:
ds["Jane"] # access of data using index  like Dicts

90

In [72]:
ds[ds>=85]  # get data where data less then 85 conditions

Jane    90
Elon    85
Tim     95
dtype: int64

### Data Frame

In [114]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#  We Use a dictionary data as a datagrame where keys are title and values are data

In [115]:
# df = pd.DataFrame(data)

In [116]:
# print(df.loc[2]) # print(df.loc[2]) => return the row of passed index

In [117]:
#print(df.loc[[0, 2]]) # also passing multiple values using 2D list

In [118]:
#df.info() # give basic infomation about dataframe (totla no, column name etc etc)

In [119]:
# df.index # get infomation about index

In [120]:
#df["calories"] # Acess data uisng index like dict

In [121]:
# df.describe() # return all data about statistics

In [122]:
# df.value_counts() # get tottal count of data || also we use any seprate coumn data using (df.calories.value_counts())

## Dataframe Exmaple

In [186]:
data={"name":["Bill","Tom","Tim","John","Alex","Vanessa","Kate"],      
      "score":[90,80,85,75,95,60,65],      
      "sport":["Wrestling","Football","Skiing","Swimming","Tennis",
               "Karete","Surfing"],      
      "sex":["M","M","M","M","F","F","F"]}

In [187]:
df = pd.DataFrame(data)
df

      name  score      sport sex
0     Bill     90  Wrestling   M
1      Tom     80   Football   M
2      Tim     85     Skiing   M
3     John     75   Swimming   M
4     Alex     95     Tennis   F
5  Vanessa     60     Karete   F
6     Kate     65    Surfing   F

In [188]:
# columns=["name","sport","sex","score"]) # managing our columsn title using columns arg

In [189]:
# df["sport"] #// df.sport  # Access only one cloumn data

In [190]:
# my_columns=["name","sport"]
# df[my_columns]
# when Acess Only Some columns then

In [191]:
#df["score"] = 90 # Update any Value like dictionary

In [192]:
#df["pass"]=df.score>=70 # Create one colum and add value (70 up score are true )
#df

In [193]:
#del df["pass"] # Delete any column permanetly
# df

#### Transform Table

In [195]:
scores={"Math":{"A":85,"B":90,"C":95}, "Physics":{"A":90,"B":80,"C":75}}

In [196]:
df = pd.DataFrame(scores)

In [197]:
df

   Math  Physics
A    85       90
B    90       80
C    95       75

In [198]:
df.T # df.T => Coumsn to index and index to column

          A   B   C
Math     85  90  95
Physics  90  80  75

In [199]:
# fb=pd.read_csv(
#     "FB.csv", 
#     parse_dates=["Date"], 
#     index_col="Date")

#  Add a column as a index

In [200]:
# dir(df)  # => IMP  => geting all methods of dataframe

In [201]:
# games.shape  # Get a colums and row number

In [204]:
# games.sort_values(by = "Year", ascending=False).head() 
# games.sort_values(by = ["Year", "Genre"], ascending=False).head()
#  Sorting data here year is a key of sorting

In [205]:
# df['column name'] = df['column name'].replace(['old value'], 'new value')
# replace  any data to any data

## Find Data

In [206]:
# mdf[mdf.genre == "Crime"]
# mdf.genre == "Crime" => Give a true or false output 
# using df again we get the row of this data

## Dataframe to Python List Or Dictionry

In [ ]:
# mydata = mdf.to_dict() => Dictionary
# mdf.values.tolist() => List